.form {
    margin-top: 16px;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroupSettings {
    margin-bottom: 24px;
}

.configLink {
    width: fit-content;
}

.formLabel {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: var(--default-labels);
}

.formLabelWithDesc {
    display: flex;
    gap: 8px;
    align-items: center;
}
