.footer {
    padding: 1rem 0;
}

.footer__row {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer__column {
    margin-bottom: 15px;
}

.footer__column--links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__column--theme {
    min-width: 220px;
    margin-bottom: 0;
}

.footer__column--language {
    min-width: 220px;
    margin-bottom: 0;
}

.footer__link {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 8px;
}

.footer__link--report {
    position: relative;
    top: 1px;
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    .footer__copyright {
        margin-right: 25px;
    }

    .footer__row {
        flex-direction: row;
    }

    .footer__column {
        margin-bottom: 0;
    }

    .footer__column--language {
        min-width: initial;
        margin-left: 20px;
    }

    .footer__column--theme {
        min-width: initial;
        margin-left: auto;
    }

    .footer__column--links {
        display: block;
    }

    .footer__link {
        margin: 0 20px 0 0;
    }
}

.btn-secondary.footer__theme-button,
[data-theme='dark'] .btn-secondary.footer__theme-button {
    height: 38px;
    border-color: var(--ctrl-select-bgcolor);
}

.footer__theme-icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    color: var(--gray-ac);
}

[data-theme='dark'] .footer__theme-icon {
    color: var(--mcolor);
}

.footer__theme-icon--active,
[data-theme='dark'] .footer__theme-icon--active {
    color: var(--btn-success-bgcolor);
}

.footer__themes {
    margin: 0 auto 24px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer__themes {
        margin: 0;
        text-align: left;
    }
}
