.tabs__controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 1px solid var(--card-border-color);
    overflow: auto;
}

@media screen and (min-width: 768px) {
    .tabs__controls {
        padding: 15px 0;
        overflow: initial;
    }
}

.tabs__controls--form {
    justify-content: flex-start;
}

.tabs__controls--form .tab__control {
    min-width: initial;
    margin-right: 25px;
    font-size: 14px;
}

.tabs__controls--form .tab__icon {
    display: none;
}

.tab__control {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70px;
    font-size: 13px;
    white-space: nowrap;
    color: #555555;
    cursor: pointer;
    opacity: 0.6;
}

[data-theme='dark'] .tab__control {
    filter: invert(1);
}

@media screen and (min-width: 768px) {
    .tab__control {
        white-space: normal;
    }
}

.tab__control:hover,
.tab__control:focus {
    opacity: 1;
}

.tab__control--active {
    color: #4a4a4a;
    opacity: 1;
}

.tab__title {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

.tab__icon {
    width: 24px;
    height: 24px;
    margin-bottom: 6px;
    fill: #4a4a4a;
    touch-action: initial;
}

.tab__text {
    line-height: 1.7;
}

.tab__text li,
.tab__text p {
    margin-bottom: 5px;
}

.tab__text ul,
.tab__text ol {
    padding-left: 25px;
}

.tab__paragraph {
    margin-bottom: 10px;
}
