.version {
    font-size: 0.8rem;
}

@media screen and (min-width: 1280px) {
    .version {
        font-size: 0.85rem;
    }
}

.version__value {
    font-weight: 600;
}

@media screen and (min-width: 992px) {
    .version__value {
        max-width: 100%;
        overflow: visible;
    }
}

.version__link {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed #495057;
    cursor: pointer;
}

.version__text {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 992px) {
    .version__text {
        justify-content: flex-end;
    }
}
