.section {
    padding-top: 24px;
}

.title {
    margin-bottom: 8px;
    font-weight: var(--weight-bold);
}

.description {
    font-size: var(--fs-t2-normal);
    line-height: var(--lh-t2-normal);
}
