.DS_Store
.vscode
.idea
debug
/AdGuardHome
/AdGuardHome.yaml
/data/
/build/
/client/node_modules/
/coredns
/Corefile
/dnsfilter.txt
/querylog.json
/querylog.json.1
/client/src/helpers/translations/node_modules
/client/src/helpers/translations/oneskyapp.json

# Test output
dnsfilter/dnsfilter.TestLotsOfRules*.pprof
tests/top-1m.csv
