language: go
sudo: false
go:
  - 1.10.x
  - 1.11.x
  - master
  - tip

cache: yarn

os:
  - linux
  - osx

script:
  - cd dnsfilter && go get -d -t . && go test
  - cd ../coredns_plugin && go get -d -t . && go test
  - cd .. && make

