.manualOptions {
    margin-bottom: 48px;
}

.manualOption {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--gray300);
    margin-bottom: 16px;
}