.listWrap {
    padding: 8px 0;
}

.list {
    max-height: 300px;
    overflow: auto;
}

.category {
    padding: 8px 16px;
}

.categoryName {
    font-weight: var(--weight-semi-bold);
}

.categoryDescription {
    color: var(--default-description-text);
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 8px 16px;
}

.dropdownTrigger {
    cursor: pointer;
}
