.mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--transition);
    cursor: pointer;

    &_visible {
        opacity: 1;
        visibility: visible;
    }

    @media (--l-viewport) {
        &_visible {
            opacity: 0;
            visibility: hidden;
        }
    }
}
