.title {
    margin-bottom: 12px;
    font-size: 28px;
    text-align: center;

    &_form {
        margin-bottom: 32px;
    }
}

.link {
    display: inline-block;
    vertical-align: middle;
    margin-top: 32px;
    font-size: 16px;
    text-align: center;
}

.paragraph {
    font-size: 16px;
    margin: 0 0 14px;
}

.list {
    margin-bottom: 16px;
    padding-left: 20px;
    font-size: 16px;
}

.step {
    margin-bottom: 5px;
    display: list-item;
    list-style: decimal;
}
