.status {
    color: var(--default-main-text);
}

.statusTitle {
    &_success {
        color: var(--default-link);
    }

    &_warning {
        color: var(--default-attention-link);
    }

    &_error {
        color: var(--default-error-link);
    }
}

.statusList {
    margin: 0;
    padding: 0;

    li {
        display: block;
    }
}
