.title {
    padding-bottom: 16px;
}

.description {
    margin: 0;
    padding: 0 16px 16px;
}

.useSavedKey {
    padding: 8px 0 8px 32px;
}

.tooltipText:not(:last-child) {
    margin-bottom: 16px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
