.logs__row {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 26px;
}

.logs__row--overflow {
    overflow: hidden;
}

.logs__row .list-unstyled {
    margin-bottom: 0;
    overflow: hidden;
}

.logs__text,
.logs__row .list-unstyled li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.logs__row .tooltip-custom {
    top: 0;
    margin-left: 0;
    margin-right: 5px;
}

.logs__action {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #fff;
    border-radius: 4px;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    visibility: hidden;
    opacity: 0;
}

.logs__table .rt-td {
    position: relative;
}

.logs__table .rt-tr:hover .logs__action {
    visibility: visible;
    opacity: 1;
}

.logs__table .rt-tr-group:first-child .tooltip-custom:before {
    top: calc(100% + 12px);
    bottom: initial;
    z-index: 1;
}

.logs__table .rt-tr-group:first-child .tooltip-custom:after {
    top: initial;
    bottom: -4px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #585965;
}

.logs__table .rt-tr-group:first-child .popover__body {
    top: calc(100% + 5px);
    bottom: initial;
    z-index: 1;
}

.logs__table .rt-tr-group:first-child .popover__body:after {
    top: -11px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #585965;
}

.logs__table .rt-thead.-filters input,
.logs__table .rt-thead.-filters select {
    padding: 6px 7px;
    border-radius: 3px;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #495057;
    border: 1px solid rgba(0, 40, 100, 0.12);
}

.logs__table .rt-thead.-filters input:focus,
.logs__table .rt-thead.-filters select:focus {
    border-color: #1991eb;
    box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}
