:root {
    --blue: #e5effd;
    --green-pale: rgba(103, 178, 121, 0.1);
    --red: rgba(223, 56, 18, 0.05);
    --white: #fff;
    --yellow: rgba(247, 181, 0, 0.1);
    --size-date: 70;
    --size-domain: 180;
    --size-response: 150;
    --size-client: 123;
    --gray-216: rgba(216, 216, 216, 0.23);
    --gray-4d: #4D4D4D;
    --gray-f3: #F3F3F3;
    --gray-8: #888;
    --danger: #DF3812;
    --white80: rgba(255, 255, 255, 0.8);

    --btn-block: #C23814;
    --btn-block-disabled: #E3B3A6;
    --btn-block-active: #A62200;

    --btn-unblock: #888888;
    --btn-unblock-disabled: #D8D8D8;
    --btn-unblock-active: #4D4D4D;

    --option-border-radius: 4px;
}

.logs__text {
    padding: 0 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    font-family: var(--font-family-sans-serif);
    color: var(--gray-4d);
    letter-spacing: 0;
    line-height: 1.5rem;
}

.logs__text--bold {
    font-weight: bold;
}

.logs__time {
    font-size: 1rem;
    line-height: 1.5;
}

.detailed-info {
    font-size: 0.8rem;
    line-height: 1.4;
    color: #888888;
}

.icon--selected {
    background-color: var(--gray-f3);
    border: solid 1px var(--gray-d8);
    border-radius: 4px;
}

.text-pre {
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    overflow: visible;
}

.link--green {
    color: var(--green79);
}

.w-90 {
    max-width: 90% !important;
}

.pb-45 {
    padding-bottom: 1.25rem !important;
}

.mh-100 {
    max-height: 100% !important;
}

.cursor--pointer {
    cursor: pointer;
}

.custom-select__arrow--left {
    background: var(--white) url('../ui/svg/chevron-down.svg') no-repeat;
    background-position: 5px 9px;
    background-size: 22px;
}

.custom-select--logs {
    padding: 0.5rem 0.75rem 0.5rem 2rem !important;
}

.bg--danger {
    color: var(--danger) !important;
}

.form-control--search {
    box-shadow: 0 1px 0 #ddd;
    padding: 0 2.5rem;
    height: 2.25rem;
    flex-grow: 1;
}

.form-control--transparent {
    border: 0 solid transparent !important;
    background-color: transparent !important;
}

.input-group-search {
    background-color: transparent;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.4rem;
}

.input-group-search__icon--magnifier {
    left: 2rem;
}

.input-group-search__icon--cross {
    left: -4.5rem;
    cursor: pointer;
}

.input-group-search__icon--tooltip {
    left: -4rem;
}

.form-control--container {
    flex: auto;
}

.field__search {
    display: flex;
    flex-grow: 1;
}

@media (max-width: 767.98px) {
    .form-control--container {
        width: 100%;
        flex-direction: column;
    }

    .form-control--search {
        width: 100%;
    }

    .field__select {
        margin-top: 1.5rem;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767.98px) {
    .logs__table .logs__cell--response,
    .logs__table .logs__cell--client {
        display: none !important;
    }
}

.logs__refresh {
    --size: 2.5rem;
    position: relative;
    top: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--size);
    height: var(--size);
    padding: 0;
    margin-left: 0.9375rem;
    background-color: transparent;
}

.logs__cell {
    padding: 1rem 1rem 0.5rem 0;
}

.logs__cell--date {
    width: 4.375rem;
    flex: var(--size-date) 0 auto;
}

.logs__cell--domain {
    width: 11.25rem;
    flex: var(--size-domain) 0 auto;
}

.logs__cell--response {
    width: 9.375rem;
    flex: var(--size-response) 0 auto;
}

.logs__cell--client {
    width: 7.6875rem;
    flex: var(--size-client) 0 auto;
    padding-right: 0;
    position: relative;
}

.logs__cell--header__container > .logs__cell--header__item {
    border-right: 0;
    font-size: 1rem;
}

.logs__cell--header__container > .logs__cell--header__item:last-child {
    padding-right: 0;
}

.button-action__container {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0.5rem;
    height: 1.6rem;
}

.button-action__container--detailed {
    bottom: 1.3rem;
}

.button-action {
    outline: 0 !important;
    background: var(--btn-block);
    border-radius: var(--option-border-radius);
    font-size: 0.8rem;
    color: var(--white);
    letter-spacing: 0;
    text-align: center;
    line-height: 28px;
    border: 0;
}

.button-action--small {
    width: fit-content;
}

.button-action--unblock {
    background: var(--btn-unblock);
}

.button-action--main {
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.button-action--with-options {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-action--arrow {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid var(--white);
    width: 1.5625rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-action:hover {
    cursor: pointer;
}

.button-action--arrow .button-action--icon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-action:active {
    background: var(--btn-block-active);
}

.button-action--unblock:active {
    background: var(--btn-unblock-active);
}

.button-action:disabled {
    background: var(--btn-block-disabled);
    cursor: default;
}

.button-action--unblock:disabled {
    background: var(--btn-unblock-disabled);
}

.button-action--arrow-option {
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    text-align: left;
    color: inherit;
}

.button-action--arrow-option:disabled {
    display: none;
}

.tooltip-custom__container .button-action--arrow-option:not(:disabled):hover {
    cursor: pointer;
    background: var(--gray-f3);
    overflow: hidden;
}

.button-action--arrow-option-container {
    overflow: visible;
    transform-origin: left;
    padding: 1rem 0;
}

.logs__row {
    position: relative;
    display: flex;
    min-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logs__table .logs__row {
    border-bottom: 2px solid var(--gray-216);
}

/* QUERY_STATUS_COLORS */
.logs__row--blue {
    background-color: var(--blue);
}

.logs__row--green {
    background-color: var(--green-pale);
}

.logs__row--red {
    background-color: var(--red) !important;
}

.logs__row--white {
    background-color: var(--white);
}

.logs__row--yellow {
    background-color: var(--yellow);
}

.logs__no-data {
    color: var(--gray-4d);
    background-color: var(--white80);
    pointer-events: none;
    font-weight: bold;
    text-align: center;
    padding-top: 21rem;
    display: block;
}

.logs__loading {
    padding: 1rem 0;
}

.logs__table {
    background-color: var(--white);
    border: 0;
    border-radius: 8px;
    min-height: 43rem;
    max-width: 100%;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    contain: layout;
    overflow-x: hidden;
    overflow-y: scroll;
    will-change: scroll-position;
}

.logs__table .logs__cell--response,
.logs__table .logs__cell--client {
    display: flex;
}

.logs__cell--header__container {
    display: flex;
}

.logs__table > .logs__cell--header__container > .logs__cell--client {
    display: flex;
    justify-content: space-between;
}

.logs__table .loading:after {
    top: 10%;
}

.logs__table .loading:before {
    min-height: 100%;
}

.logs__whois {
    display: inline;
    font-size: 12px;
    white-space: nowrap;
}

.logs__whois::after {
    content: "|";
    padding: 0 5px;
    opacity: 0.3;
}

.logs__whois:last-child::after {
    content: "";
}

.logs__whois-icon.icons {
    position: relative;
    top: -2px;
    width: 12px;
    height: 12px;
    margin-right: 1px;
    opacity: 0.5;
}
