.logs__row {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 26px;
}

.logs__row--center {
    justify-content: center;
}

.logs__row--column {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.logs__row--overflow {
    overflow: hidden;
}

.logs__row--icons {
    max-width: 180px;
    flex-flow: row wrap;
}

.logs__row .list-unstyled {
    margin-bottom: 0;
    overflow: hidden;
}

.logs__text,
.logs__row .list-unstyled li {
    padding: 0 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.logs__text--full {
    width: 100%;
}

.logs__text--wrap,
.logs__text--whois {
    line-height: 1.4;
    white-space: normal;
}

.logs__text--whois {
    line-height: 1.2;
}

.logs__row .tooltip-custom {
    top: 0;
    margin-left: 0;
    margin-right: 5px;
}

.logs__action {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #fff;
    border-radius: 4px;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    visibility: hidden;
    opacity: 0;
}

.logs__table .rt-td {
    position: relative;
}

.logs__table .rt-tr:hover .logs__action {
    visibility: visible;
    opacity: 1;
}

.logs__table .rt-tr-group:first-child .tooltip-custom:before {
    top: calc(100% + 12px);
    bottom: initial;
    z-index: 1;
}

.logs__table .rt-tr-group:first-child .tooltip-custom:after {
    top: initial;
    bottom: -4px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #585965;
}

.logs__table .rt-tr-group:first-child .popover__body {
    top: calc(100% + 5px);
    bottom: initial;
    z-index: 1;
}

.logs__table .rt-tr-group:first-child .popover__body:after {
    top: -11px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #585965;
}

.logs__table .rt-thead.-filters input,
.logs__table .rt-thead.-filters select {
    padding: 6px 7px;
    border-radius: 3px;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #495057;
    border: 1px solid rgba(0, 40, 100, 0.12);
}

.logs__table .rt-thead.-filters select {
    background: #fff url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxMCA1Jz48cGF0aCBmaWxsPScjOTk5JyBkPSdNMCAwTDEwIDBMNSA1TDAgMCcvPjwvc3ZnPg==") no-repeat right 0.75rem center;
    background-size: 8px 10px;
}

.logs__table .rt-thead.-filters input:focus,
.logs__table .rt-thead.-filters select:focus {
    border-color: #1991eb;
    box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}

.logs__text-wrap {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.logs__list-wrap {
    display: flex;
    max-width: 100%;
}

.logs__list-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.logs__input-wrap {
    position: relative;
}

.logs__notice {
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 10px;
    margin-top: 3px;
    font-size: 12px;
    text-align: left;
    color: #a5a5a5;
}

.logs__whois {
    display: inline;
    font-size: 12px;
}

.logs__whois::after {
    content: "|";
    padding: 0 5px;
    opacity: 0.3;
}

.logs__whois:last-child::after {
    content: "";
}

.logs__whois-icon.icons {
    position: relative;
    top: -2px;
    width: 12px;
    height: 12px;
    margin-right: 1px;
    opacity: 0.5;
}
