.logs__row {
    display: flex;
    align-items: center;
}

.logs__row--overflow {
    overflow: hidden;
}

.logs__row .list-unstyled {
    margin-bottom: 0;
    overflow: hidden;
}

.logs__text,
.logs__row .list-unstyled li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.logs__row .tooltip-custom {
    top: 0;
    margin-left: 0;
    margin-right: 5px;
}
