.wrapper {
    display: block;

    @media (min-width: 1200px) {
        display: flex;
        flex-direction: row;
    }
}

.bodyWrapper {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
