.icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.smallIcon {
    width: 16px;
    height: 16px;
}
