.icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.smallIcon {
    width: 16px;
    height: 16px;
}

.green {
    color: var(--default-product-icon);
}

.gray {
    color: var(--default-gray-icons);
}

.red {
    color: var(--default-error-icon);
}

.black {
    color: var(--default-black-icons);
}
