@font-face {
    font-family: Rubik;
    src: url('./common/styles/fonts/rubik-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    src: url('./common/styles/fonts/rubik-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    src: url('./common/styles/fonts/rubik-semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Rubik;
    src: url('./common/styles/fonts/rubik-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
