.title {
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: 500;

    @media (--m-viewport) {
        margin-bottom: 24px;
    }
}

.text {
    margin-bottom: 32px;
    font-size: 14px;
    color: var(--gray900);

    p {
        margin: 0 0 5px;
    }
}

.addresses {
    margin-top: 16px;
}

.address {
    font-family: var(--font-family-monospace);
    font-size: 16px;
    font-weight: 600;
    word-break: break-all;
    color: var(--green400);
}
