.group {
    width: 100%;
}

.radio {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    padding-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid var(--gray300);

    &:last-child {
        border-bottom: 0;
    }
}

.desc {
    color: var(--gray400);
}
