.title {
    margin-bottom: 8px;
    font-weight: var(--weight-bold);
}

.desc {
    margin-bottom: 12px;
    font-size: var(--fs-text-t2);
    line-height: var(--lh-t2-normal);
    color: var(--default-main-text);

    &:last-child {
        margin-bottom: 0;
    }
}

.container {
    padding-top: 0;
}

.form {
    padding-top: 24px;
}

.breadcrumbs {
    padding: 0 16px;
}
