.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.emptyStateIcon {
    width: 64px;
    height: 64px;
    color: var(--gray-60);
}

.emptyStateText {
    max-width: 300px;
    color: var(--default-placeholder);
}

[data-theme='dark'] .emptyStateIcon {
    color: var(--gray-60);
}
