.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-bottom: 24px;
    text-align: center;
}

.emptyStateIcon {
    width: 64px;
    height: 64px;
    color: var(--default-gray-icons);
}

.emptyStateText {
    max-width: 300px;
}
