/* Disable Auto Zoom in Input - Safari on iPhone https://stackoverflow.com/a/6394497 */
@media screen and (max-width: 767px) {
    input,
    select,
    textarea {
        font-size: 1rem;
    }
}

.setup {
    min-height: calc(100vh - 345px);
    line-height: 1.48;
}

@media screen and (min-width: 768px) {
    .setup {
        min-height: calc(100vh - 141px);
    }
}

.setup__container {
    max-width: 1176px;
    margin: 0 auto;
}

[data-theme='dark'] .setup__container {
    box-shadow: none;
    border: 1px solid var(--card-border-color);
}

.setup__logo {
    display: block;
    margin: 0 auto 40px;
    max-width: 140px;
}

[data-theme='dark'] .setup__logo {
    filter: invert(1);
}

.setup__step {
    display: flex;
    gap: 88px;
    justify-content: center;
}

.setup__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 16px;
}

.setup__left-side {
    max-width: 584px;
    padding: 0 ;
    text-align: left;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.setup__subtitle {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
}

.setup__desc {
    margin-bottom: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.setup__list {
    padding-left: 20px;
    margin: 24px 0;
}

.setup__group {
    margin-bottom: 35px;
}

.setup__group:last-child {
    margin-bottom: 0;
}

.setup__consent {
    margin: 32px 0 24px;
}

.setup__progress {
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 12px;
}

.setup__progress-wrap {
    height: 6px;
    overflow: hidden;
    width: 464px;
    display: flex;
    gap: 4px;
    background: transparent;
}

.setup__progress-step {
    flex: 1 1 0;
    border-radius: 8px;
    height: 100%;
}

.setup__progress-step--green {
    background: var(--product-primary-50);
}

.setup__progress-step--grey {
    background-color: #eaeaea;
}

.btn-standard {
    padding-left: 20px;
    padding-right: 20px;
}

.form__message {
    font-size: 11px;
}

.form__message--error {
    color: var(--red);
}

.setup__button {
    max-width: 200px;
}

.setup__error {
    margin: -5px 0 5px;
}

.divider--small {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.setup__header {
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.10);
}

.setup__header-content {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    width: 100%;
    max-width: 1176px;
    margin: 0 auto;
}

.setup__greeting {
    display: flex;
    justify-content: space-between;
    gap: 88px;
    padding-top: 116px;
}

.setup__config-setting {
    padding-top: 48px;
}

.setup__banner {
    display: flex;
    width: 400px;
    padding: 32px 16px 16px 16px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 16px;
    box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.10);
}

.setup__banner-list {
    list-style: none;
    padding: 0;
    margin: 0
}

.setup__banner-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-top: 16px;
}

.setup__link {
    color: var(--product-primary-50);
    text-decoration: underline;
}

.icon-green {
    stroke: var(--product-primary-50);
    color: var(--product-primary-50);
}

.icon-red {
    stroke: var(--red-50);
    color: var(--red-50);
}

.form-group {
    margin-bottom: 16px;
}

.setup__nav {
    display: flex;
    gap: 24px;
}

.setup__end {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 576px;
    align-items: center;
    text-align: center;
    height: 100%;
    padding-top: 116px;
}

.setup__quote-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 32px;
    line-height: 120%;
}

.setup__quote-desc {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    padding-left: 16px;

    &::before {
        content: "";
        height: 100%;
        position: absolute;
        left: 0;
        border-radius: 50%;
        width: 4px;
        display: block;
        color: var(--orange-50);
    }
}

.setup__step-message {
    margin-right: 8px;
    display: inline-block;
}
