.form__group {
    position: relative;
    margin-bottom: 15px;
}

.form__group:last-child {
    margin-bottom: 0;
}

.form__group--settings:last-child {
    margin-bottom: 20px;
}

.btn-standard {
    padding-left: 20px;
    padding-right: 20px;
}

.form-control--textarea {
    min-height: 110px;
}

.form-control--textarea-large {
    min-height: 240px;
}

.form__message {
    font-size: 11px;
}

.form__message--error {
    color: #cd201f;
}

.interface__title {
    font-size: 13px;
    font-weight: 700;
}

.interface__ip:after {
    content: ", ";
}

.interface__ip:last-child:after {
    content: "";
}

.dhcp {
    min-height: 450px;
}

.form__desc {
    margin-top: 10px;
    font-size: 13px;
    color: rgba(74, 74, 74, 0.7);
}

.form__desc--top {
    margin: 0 0 8px;
}

.form__label--bold {
    font-weight: 700;
}

.form__status {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.7;
}

.encryption__list {
    padding-left: 0;
}

.encryption__list li {
    list-style: inside;
}
