.form__group {
    position: relative;
    margin-bottom: 15px;
}

.form__group:last-child {
    margin-bottom: 0;
}

.form__group--settings:last-child {
    margin-bottom: 20px;
}

.form__inline {
    display: flex;
    justify-content: flex-start;
}

.btn-standard {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-large {
    min-width: 150px;
}

.form-control--textarea {
    min-height: 110px;
}

.form-control--textarea-large {
    min-height: 240px;
}

.form__message {
    font-size: 11px;
}

.form__message--error {
    color: #cd201f;
}

.interface__title {
    font-size: 13px;
    font-weight: 700;
}

.interface__ip:after {
    content: ", ";
}

.interface__ip:last-child:after {
    content: "";
}

.dhcp {
    min-height: 450px;
}

.form__desc {
    margin-top: 10px;
    font-size: 13px;
    color: rgba(74, 74, 74, 0.7);
}

.form__desc--top {
    margin: 0 0 8px;
}

.form__label--bold {
    font-weight: 700;
}

.form__label--with-desc {
    margin-bottom: 0;
}

.form__status {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.7;
}

.encryption__list {
    padding-left: 0;
}

.encryption__list li {
    list-style: inside;
}

.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.btn-icon-sm {
    width: 23px;
    height: 23px;
    min-width: 23px;
    padding: 5px;
}

.custom-control-label,
.custom-control-label:before {
    transition: 0.3s ease-in-out background-color, 0.3s ease-in-out color;
}
