.listContainer {
    padding: 8px 16px;
}

.listDesc {
    margin-bottom: 24px;
}

.list {
    padding: 0 16px;
}

.listItem {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
