.logo {
    width: 118px;
    height: 31px;
    margin: 20px;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 71px);
}

.logout {
    @media (--m-viewport) {
        margin-top: auto!important;
    }
}
