{
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "tabWidth": 4,
    "semi": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
