.link {
    margin-left: auto;
}

.label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
}

.dropdownTrigger {
    cursor: pointer;
    color: var(--default-gray-icons);
}

.dropdownMenu {
    padding: 16px;
    max-width: 240px;

    @media (min-width: 768px) {
        max-width: 280px;
    }
}

.dropdownTitle {
    margin-bottom: 16px;
}
