.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.iconWrap {
    display: inline-flex;
}

.icon {
    width: 64px;
    height: 64px;
}

.message {
    color: var(--default-main-text);
    overflow-wrap: anywhere;
}

.enableLinkWrap {
    margin-top: 16px;
}
