body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.status {
    margin-top: 30px;
}

.container--wrap {
    min-height: calc(100vh - 160px);
}

@media screen and (min-width: 992px) {
    .container--wrap {
        min-height: calc(100vh - 117px);
    }
}

.loading-bar {
    position: absolute;
    z-index: 103;
    height: 3px;
    background: linear-gradient(45deg, rgba(99, 125, 120, 1) 0%, rgba(88, 177, 101, 1) 100%);
}
