:root {
    --yellow-pale: rgba(247, 181, 0, 0.1);
    --green79: #67b279;
    --gray-a5: #a5a5a5;
    --gray-d8: #d8d8d8;
    --gray-f3: #f3f3f3;
    --font-family-monospace: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
    --font-size-disable-autozoom: 1rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

/* Disable Auto Zoom in Input - Safari on iPhone https://stackoverflow.com/a/6394497 */
@media screen and (max-width: 767px) {
    input, select, textarea {
        font-size: var(--font-size-disable-autozoom);
    }
}

.status {
    margin-top: 30px;
}

.container--wrap {
    min-height: calc(100vh - 160px);
}

@media screen and (min-width: 992px) {
    .container--wrap {
        min-height: calc(100vh - 117px);
    }
}

@media screen and (max-width: 992px) {
    .container--wrap {
        min-height: calc(100vh);
    }
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    height: 3px;
    background: linear-gradient(45deg, rgba(99, 125, 120, 1) 0%, rgba(88, 177, 101, 1) 100%);
}

.modal-body--medium {
    max-height: 20rem;
    overflow-y: auto;
}

.modal-body__item:not(:first-child) {
    padding-top: 1.5rem;
}

.font-monospace {
    font-family: var(--font-family-monospace);
}

.mw-75 {
    max-width: 75% !important;
}

.cursor--not-allowed {
    cursor: not-allowed;
}

.button-action {
    visibility: hidden;
}

.logs__row:hover .button-action,
.button-action--active {
    visibility: visible;
}

.ReactModal__Body--open {
    overflow: hidden;
}

a.btn-success.disabled {
    color: #fff;
}
