:root {
    --black: #131313;
    --bgcolor: #f5f7fb;
    --mcolor: #495057;
    --scolor: rgba(74, 74, 74, 0.7);
    --border-color: rgba(0, 40, 100, 0.12);
    --header-bgcolor: #fff;
    --card-bgcolor: #fff;
    --card-border-color: rgba(0, 40, 100, 0.12);
    --ctrl-bgcolor: #fff;
    --ctrl-select-bgcolor: rgba(69, 79, 94, 0.12);
    --ctrl-dropdown-color: #212529;
    --ctrl-dropdown-bgcolor-focus: #f8f9fa;
    --ctrl-dropdown-color-focus: #16181b;
    --btn-success-bgcolor: #5eba00;
    --form-disabled-bgcolor: #f8f9fa;
    --form-disabled-color: #495057;
    --rt-nodata-bgcolor: rgba(255, 255, 255, 0.8);
    --rt-nodata-color: rgba(0, 0, 0, 0.5);
    --modal-overlay-bgcolor: rgba(255, 255, 255, 0.75);
    --logs__table-bgcolor: #fff;
    --logs__row--blue-bgcolor: #e5effd;
    --logs__row--white-bgcolor: #fff;
    --detailed-info-color: #888888;
    --yellow-pale: rgba(247, 181, 0, 0.1);
    --green79: #67b279;
    --gray-a5: #a5a5a5;
    --gray-d8: #d8d8d8;
    --gray-f3: #f3f3f3;
    --loading-bg: rgba(255, 255, 255, 0.48);
    --font-family-monospace: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    --font-size-disable-autozoom: 1rem;
    --alert-message-color: #24426c;
    --alert-message-border: #cbdbf2;
    --alert-message-bg: #dae5f5;
    --checkbox-bg: #e2e2e2;
    --radio-bg: #ffffff;
}

[data-theme='dark'] {
    --black: #ffffff;
    --bgcolor: #131313;
    --mcolor: #e6e6e6;
    --scolor: #a5a5a5;
    --header-bgcolor: #131313;
    --border-color: #222;
    --card-bgcolor: #1c1c1c;
    --card-border-color: #3d3d3d;
    --ctrl-bgcolor: #1c1c1c;
    --ctrl-select-bgcolor: #3d3d3d;
    --ctrl-dropdown-color: #fff;
    --ctrl-dropdown-bgcolor-focus: #000;
    --ctrl-dropdown-color-focus: #fff;
    --btn-success-bgcolor: #67b279;
    --form-disabled-bgcolor: #2d2d2d;
    --form-disabled-color: #a5a5a5;
    --logs__text-color: #f3f3f3;
    --rt-nodata-bgcolor: #1c1c1c;
    --rt-nodata-color: #fff;
    --modal-overlay-bgcolor: rgba(19, 19, 19, 0.75);
    --logs__table-bgcolor: #3d3d3d;
    --logs__row--blue-bgcolor: #467fcf;
    --logs__row--white-bgcolor: #1c1c1c;
    --detailed-info-color: #fff;
    --gray300: #f3f3f3;
    --loading-bg: #131313;
    --alert-message-color: #e6e6e6;
    --alert-message-border: #363648;
    --alert-message-bg: #363648;
    --checkbox-bg: #a4a4a4;
    --radio-bg: #a4a4a4;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
}

/* Disable Auto Zoom in Input - Safari on iPhone https://stackoverflow.com/a/6394497 */
@media screen and (max-width: 767px) {
    input,
    select,
    textarea {
        font-size: var(--font-size-disable-autozoom);
    }
}

.status {
    margin-top: 30px;
}

.container--wrap {
    min-height: calc(100vh - 372px);
}

@media screen and (min-width: 768px) {
    .container--wrap {
        min-height: calc(100vh - 168px);
    }
}

@media screen and (min-width: 992px) {
    .container--wrap {
        min-height: calc(100vh - 187px);
    }
}

.loading-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 103;
    height: 3px;
    background: linear-gradient(45deg, rgba(99, 125, 120, 1) 0%, rgba(88, 177, 101, 1) 100%);
}

.modal-body--medium {
    max-height: 20rem;
    overflow-y: auto;
}

.modal-body--filters {
    max-height: 600px;
    overflow-y: auto;
}

.modal-body__item:not(:first-child) {
    padding-top: 1.5rem;
}

.font-monospace {
    font-family: var(--font-family-monospace);
}

.mw-75 {
    max-width: 75% !important;
}

.cursor--not-allowed {
    cursor: not-allowed;
}

.ReactModal__Body--open {
    overflow: hidden;
}

a.btn-success.disabled {
    color: #fff;
}
