.labelWrapper {
    min-width: 0;
    overflow: hidden;
}

.text {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tooltipContent {
    padding: 16px;
}
