.tableContainer {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.tableMain {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: 768px) {
        gap: 0;
    }
}

.tableHeader {
    display: none;

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: var(--table-columns);
        background-color: var(--page-background-additional);
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 8px;
    }
}

.tableCell {
    min-width: 0;
    display: flex;
    align-items: center;
    gap: 8px;

    &.sortable {
        cursor: pointer;
    }

    &.fitContent {
        width: fit-content;
    }
}

.tableHeaderCell {
    @media (min-width: 768px) {
        min-height: 42px;
        padding: 8px 12px;
        overflow: hidden;
    }
}

.tableHeaderText {
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tableBodyCell {
    @media (min-width: 768px) {
        min-height: 42px;
        padding: 8px 12px;
        align-items: center;
    }
}

.tableRow {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: var(--default-cards-background);
    box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.1);
    transition: background-color var(--t2);

    @media (min-width: 768px) {
        display: grid;
        grid-template-columns: var(--table-columns);
        padding: 0;
        background-color: transparent;
        box-shadow: none;

        &:hover,
        &:focus {
            background-color: var(--page-background-additional);
        }
    }

    &:last-child {
        @media (min-width: 768px) {
            overflow: hidden;
        }
    }
}

.clickableCell {
    cursor: pointer;
}

.sortIcon {
    flex-shrink: 0;
    opacity: 0;
    transition: opacity var(--t2), transform var(--t2);
}

.sortAsc {
    transform: rotate(180deg);
    opacity: 1;
}

.sortDesc {
    opacity: 1;
}

.tableHeaderCell:hover .sortIcon {
    opacity: 1;
}

.tablePagination {
    margin-top: auto;
}

.emptyTableWrapper {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;

    @media (min-width: 768px) {
        padding: 48px 64px;
    }
}

.loading {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.tableLoader {
    width: 48px;
    height: 48px;
    color: var(--default-product-icon);
}
