.link {
    color: var(--green400);
    text-decoration: underline;

    &:hover,
    &:focus {
        color: var(--green700);
        text-decoration: none;
    }

    &:active {
        color: var(--green400);
    }

    &.gray {
        color: var(--gray900);

        &:hover,
        &:focus {
            color: var(--gray700);
        }

        &:active {
            color: var(--gray700);
        }
    }
}
