.link {
    color: var(--green400);
    text-decoration: underline;

    &:hover,
    &:focus {
        color: var(--green700);
        text-decoration: none;
    }

    &:active {
        color: var(--green400);
    }
}
