.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f20 {
    font-size: 20px;
}

.bold {
    font-weight: 700;
}

.medium {
    font-weight: 600;
}

.regular {
    font-weight: 400;
}

.code {
    padding: 3px 5px;
    font-size: 14px;
    font-family: var(--font-family-monospace);
    background-color: var(--gray300);
    border-radius: 2px;
}

.danger {
    text-transform: uppercase;
    color: var(--red400);
    font-weight: bold;
}

.center {
    text-align: center;
}
