.tabs {
    padding: 24px 16px 0;
}

.breadcrumbs {
    padding: 0 16px;
}

.tabContent {
    padding: 40px 0 0 0;

    &_static {
        padding-top: 16px;
    }
}

.title {
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.headerActions {
    display: flex;
    align-items: center;
    gap: 8px;
}

.addButton {
    padding-bottom: 24px;
}

.tooltipMenu {
    padding: 16px;
}
