.buttonGroup {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 8px 16px;

    @media (min-width: 768px) {
        flex-direction: row;
    }

    .button {
        flex: 1;
        min-width: 200px;
    }
}

.input {
    padding: 8px 0;
}
