.container {
    padding: 40px 0;
    height: 100%;
    min-height: 100vh;
    color: var(--default-main-text);

    @media (min-width: 1024px) {
        padding: 48px 24px 72px;
        max-width: 632px;
    }

    &_full {
        max-width: 100%;
    }
}

.title {
    padding: 0 16px;
}

.subtitle {
    padding: 40px 16px 16px 16px;

    @media (min-width: 1024px) {
        padding-top: 32px;
    }

    &_compact {
        padding-bottom: 0;
    }
}
