.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px 0;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 0;
    }
}

.pagesContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.limitContainer {
    width: 100%;

    @media (min-width: 768px) {
        width: auto;
        margin-left: auto;
    }

    & .select {
        width: 100%;

        @media (min-width: 768px) {
            width: fit-content;
        }
    }
}

.arrow {
    &_active {
        cursor: default;
    }
}

.arrow,
.bullets {
    color: var(--default-gray-icons);

    &_left {
        transform: rotate(180deg);
    }
}

.button {
    width: 27px;
    height: 24px;
    padding: 0;
    color: var(--default-main-text);
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--hovered-main-button);
        color: var(--default-primary-button-text);
    }

    &:disabled {
        cursor: default;

        .arrow {
            cursor: default;
        }

        &:hover,
        &:focus {
            background-color: transparent;
        }
    }

    &_active {
        background-color: var(--default-main-button);
        color: var(--default-primary-button-text);
        cursor: default;

        &:hover,
        &:focus {
            background-color: var(--hovered-main-button);
        }

        &:disabled {
            background-color: var(--disabled-main-button);

            &:hover,
            &:focus {
                background-color: var(--disabled-main-button);
            }
        }
    }
}

.summary {
    margin: 0 8px;
    line-height: 24px;
    color: var(--default-description-text);
}
