:root {
    --blue: #e5effd;
    --green-pale: rgba(103, 178, 121, 0.1);
    --red: rgba(223, 56, 18, 0.05);
    --white: #fff;
    --yellow: rgba(247, 181, 0, 0.1);
    --size-date: 70;
    --size-domain: 180;
    --size-response: 150;
    --size-client: 123;
    --gray-216: rgba(216, 216, 216, 0.23);
    --gray-4d: #4d4d4d;
    --gray-f3: #f3f3f3;
    --gray-8: #888;
    --gray-3: #333;
    --danger: #df3812;
    --white80: rgba(255, 255, 255, 0.8);
    --btn-block: #c23814;
    --btn-block-disabled: #e3b3a6;
    --btn-block-active: #a62200;
    --btn-unblock: #888888;
    --btn-unblock-disabled: #d8d8d8;
    --btn-unblock-active: #4d4d4d;
    --option-border-radius: 4px;
}

[data-theme='dark'] {
    --red: rgba(223, 56, 18, 0.25);
    --green-pale: rgba(103, 178, 121, 0.25);
    --yellow: rgba(247, 181, 0, 0.2);
}

.logs__text {
    padding: 0 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    font-family: var(--font-family-sans-serif);
    color: var(--logs__text-color);
    letter-spacing: 0;
    line-height: 1.5rem;
}

[data-theme='dark'] .logs__text a {
    color: var(--gray-f3);
}

[data-theme='dark'] .logs__text a:hover {
    color: var(--gray-f3);
}

.logs__text--bold {
    font-weight: 600;
}

.logs__time {
    font-size: 1rem;
    line-height: 1.5;
}

.detailed-info {
    font-size: 0.8rem;
    line-height: 1.4;
    color: var(--detailed-info-color);
}

.logs__text--link {
    color: #467fcf;
}

.logs__text--link:hover,
.logs__text--link:focus {
    color: #295a9f;
}

[data-theme='dark'] .logs__text--link,
[data-theme='dark'] .logs__text--link:hover,
[data-theme='dark'] .logs__text--link:focus {
    color: var(--gray-f3);
}

.logs__table .logs__text--client {
    padding-right: 32px;
}

.icon--selected {
    background-color: var(--gray-f3);
    border: solid 1px var(--gray-d8);
    border-radius: 4px;
}

[data-theme='dark'] .icon--selected {
    opacity: 0.75;
}

.text-pre {
    white-space: pre-wrap !important;
    overflow-wrap: break-word;
    overflow: visible;
}

.link--green {
    color: var(--green79);
}

.w-90 {
    max-width: 90% !important;
}

.pb-45 {
    padding-bottom: 1.25rem !important;
}

.mh-100 {
    max-height: 100% !important;
}

.icon24 {
    width: 24px;
    height: 24px;
}

.icon12 {
    width: 12px;
    height: 12px;
}

.cursor--pointer {
    cursor: pointer;
}

.custom-select__arrow--left {
    background: var(--white) url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM5YWEwYWMiCiAgICAgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItY2hldnJvbi1kb3duIj4KICAgIDxwb2x5bGluZSBwb2ludHM9IjYgOSAxMiAxNSAxOCA5Ij48L3BvbHlsaW5lPgo8L3N2Zz4K") no-repeat;
    background-position: 5px 9px;
    background-size: 22px;
}

.custom-select--logs {
    padding: 0.5rem 0.75rem 0.5rem 2rem !important;
}

.form-control--search {
    padding: 0 2.5rem;
    height: 2.25rem;
    flex-grow: 1;
}

.form-control--transparent {
    background-color: transparent !important;
}

[data-theme='dark'] .form-control--transparent option {
    background-color: var(--card-bgcolor);
}

.input-group-search {
    background-color: transparent;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.4rem;
}

.input-group-search__icon--magnifier {
    left: 2rem;
}

.input-group-search__icon--cross {
    left: -4.5rem;
    cursor: pointer;
}

.input-group-search__icon--tooltip {
    left: -4rem;
}

.form-control--container {
    flex: auto;
}

.field__search {
    display: flex;
    flex-grow: 1;
}

@media (max-width: 767.98px) {
    .form-control--container {
        width: 100%;
        flex-direction: column;
    }

    .form-control--search {
        width: 100%;
    }

    .field__select {
        margin-top: 1.5rem;
        padding-left: 24px;
        padding-right: 24px;
    }
}

@media screen and (max-width: 767.98px) {
    .logs__table .logs__cell--response,
    .logs__table .logs__cell--client {
        display: none !important;
    }
}

.logs__refresh {
    position: relative;
    top: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin-left: 0.9375rem;
    background-color: transparent;
}

.logs__cell {
    padding: 1rem 1rem 0.5rem 0;
}

.logs__cell--date {
    width: 4.375rem;
    flex: var(--size-date) 0 auto;
}

.logs__cell--domain {
    width: 11.25rem;
    flex: var(--size-domain) 0 auto;
}

.logs__cell--response {
    width: 9.375rem;
    flex: var(--size-response) 0 auto;
}

.logs__cell--client {
    width: 7.6875rem;
    flex: var(--size-client) 0 auto;
    padding-right: 0;
    position: relative;
}

@media screen and (min-width: 1025px) {
    .logs__cell--client {
        width: 13rem;
    }
}

.logs__cell--header__container > .logs__cell--header__item {
    border-right: 0;
    font-size: 1rem;
}

.logs__cell--header__container > .logs__cell--header__item:last-child {
    padding-right: 0;
}

.button-action__container {
    display: flex;
    position: absolute;
    right: 2px;
    bottom: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .button-action__container {
        display: none;
    }
}

.button-action__container--detailed {
    bottom: 1.3rem;
}

.button-action {
    outline: 0 !important;
    background: var(--btn-block);
    border-radius: var(--option-border-radius);
    font-size: 0.8rem;
    color: var(--white);
    letter-spacing: 0;
    text-align: center;
    line-height: 28px;
    border: 0;
}

.button-action--small {
    width: fit-content;
}

.button-action--unblock {
    background: var(--btn-unblock);
}

.button-action--main {
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

.button-action--with-options {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button-action:hover {
    cursor: pointer;
}

.button-action--arrow-option {
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    text-align: center;
    font-weight: 700;
    color: inherit;
    cursor: pointer;
}

.button-action--arrow-option:hover,
.button-action--arrow-option:focus {
    outline: none;
}

.button-action--arrow-option:focus-visible {
    outline: 2px solid #295a9f;
}

.button-action--arrow-option:disabled {
    display: none;
}

.tooltip-custom__container .button-action--arrow-option {
    padding-bottom: 0;
    text-align: left;
    font-weight: 400;
}

.tooltip-custom__container .button-action--arrow-option:not(:disabled):hover {
    background: var(--gray-f3);
    overflow: hidden;
}

[data-theme='dark'] .tooltip-custom__container .button-action--arrow-option:not(:disabled):hover {
    background: var(--ctrl-dropdown-bgcolor-focus);
}

.button-action--arrow-option-container {
    overflow: visible;
    transform-origin: left;
    padding: 1rem 0;
}

.logs__row {
    position: relative;
    display: flex;
    min-height: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.logs__row--icons {
    flex-wrap: wrap;
}

.logs__table .logs__row {
    border-bottom: 2px solid var(--gray-216);
}

.logs__tag {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* QUERY_STATUS_COLORS */
.logs__row--blue {
    background-color: var(--logs__row--blue-bgcolor);
}

[data-theme='dark'] .logs__row--blue .logs__text--link {
    color: var(--white);
}

.logs__row--green {
    background-color: var(--green-pale);
}

.logs__row--red {
    background-color: var(--red) !important;
}

.logs__row--white {
    background-color: var(--logs__row--white-bgcolor);
}

.logs__row--yellow {
    background-color: var(--yellow);
}

.logs__no-data {
    color: var(--mcolor);
    background-color: var(--logs__table-bgcolor);
    pointer-events: none;
    font-weight: 600;
    text-align: center;
    padding-top: 21rem;
    display: block;
}

.logs__loading {
    padding: 1rem 0;
}

.logs__table {
    background-color: var(--logs__table-bgcolor);
    border: 0;
    border-radius: 8px;
    min-height: 43rem;
    max-width: 100%;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    contain: layout;
    overflow-x: hidden;
    overflow-y: auto;
    will-change: scroll-position;
}

.logs__table .logs__cell--response,
.logs__table .logs__cell--client {
    display: flex;
}

.logs__cell--header__container {
    display: flex;
}

.logs__table > .logs__cell--header__container > .logs__cell--client {
    display: flex;
    justify-content: space-between;
}

.logs__table .loading:after {
    top: 10%;
}

.logs__table .loading:before {
    min-height: 100%;
}

.logs__whois {
    display: inline;
    font-size: 12px;
    white-space: nowrap;
}

.logs__whois::after {
    content: '|';
    padding: 0 5px;
    opacity: 0.3;
}

.logs__whois:last-child::after {
    content: '';
}

.logs__whois-icon.icons {
    position: relative;
    top: -2px;
    width: 12px;
    height: 12px;
    margin-right: 1px;
    opacity: 0.5;
}

.filteringRules__rule {
    margin-bottom: 0;
}

.filteringRules__filter {
    font-style: italic;
    font-weight: 400;
    margin-bottom: 1rem;
}

.bg--danger {
    color: var(--danger);
}

.bg--green {
    color: var(--green79);
}

[data-theme='dark'] .logs__question.icon--lightgray {
    color: var(--gray-f3);
}

@media (max-width: 1024px) {
    .logs__question {
        display: none;
    }
}

.logs__modal {
    max-width: 720px;
}

.logs__modal-wrap {
    padding: 1rem 1.5rem;
    background-color: var(--card-bgcolor);
}

.button-action__hidden-trigger {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 33px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

[data-theme='dark'] .button-action__icon {
    color: var(--gray-f3);
}
