.ant-radio {
    margin-right: 18px;
}

.ant-radio-inner {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-color: var(--gray400);

    &::after {
        width: 12px;
        height: 12px;
    }
}