.sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    font-weight: 500;
    overflow: auto;
    z-index: 1041;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (--l-viewport) {
        position: sticky;
        z-index: 1040;
    }

    & .ant-menu-item-group {
        @media (--m-viewport) {
            &:last-child {
                margin-top: auto;
            }
        }
    }
}