.container {
    display: flex;
    flex-flow: column;
    padding: 24px;
    background-color: var(--white);
}

.title {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 4px;
    color: var(--gray700);
}

.overal {
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 18px;
    color: var(--gray900);
}