.browseLink {
    color: var(--default-link);
    cursor: pointer;
    margin-left: auto;
    border: none;
    background: transparent;
    font-size: var(--fs-text-t2);
    line-height: var(--lh-t2-normal);
}

.footer {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.hiddenFileInput {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
