.tabs {
    width: 100%;
}

.nav {
    display: flex;
}

.button {
    padding: 16px;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
    color: var(--default-main-text);
    cursor: pointer;

    &_active {
        border-bottom-color: var(--default-main-button);
    }
}
