.formField {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 0;
}

.formFieldLabel {
    color: var(--default-labels);
}

.rangeRow {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;

    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
    }
}
