.layout {
    background-image: url('../../assets/img/background_min.png');
    background-repeat: no-repeat;
    min-height: 100vh;
    background-color: #f1f3f7;
}
.container {
    display: flex;
    justify-content: center;
    padding: 40px;
}
.content {
    max-width: 404px;
}
