.nav-tabs .nav-link.active {
    border-color: #66b574;
    color: #66b574;
    background: transparent;
}

.nav-tabs .nav-link.active:hover {
    border-color: #58a273;
    color: #58a273;
}

.nav-icon {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    stroke: #9aa0ac;
}

.nav-tabs .nav-link.active .nav-icon {
    stroke: #66b574;
}

.nav-tabs .nav-link.active:hover .nav-icon {
    stroke: #58a273;
}

.nav-tabs .nav-link {
    width: 100%;
    border: 0;
}

.header {
    position: relative;
    padding: 5px 0;
    z-index: 102;
}

.mobile-menu {
    position: fixed;
    z-index: 103;
    top: 0;
    right: calc(100% + 5px);
    display: block;
    width: 250px;
    height: 100vh;
    transition: transform 0.3s ease;
    background-color: #fff;
    overflow-y: auto;
}

.mobile-menu--active {
    transform: translateX(255px);
    box-shadow: 15px 0 50px rgba(0, 0, 0, 0.1);
}

.nav-tabs .nav-link--back {
    height: 63px;
    padding: 20px 0 21px;
    font-weight: 600;
}

.nav-tabs .nav-link--account {
    max-width: 160px;
    font-size: 0.9rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-version {
    padding: 7px 0;
    font-size: 0.80rem;
    text-align: right;
}

.nav-version__value {
    font-weight: 600;
}

.nav-version__link {
    position: relative;
    display: inline-block;
    border-bottom: 1px dashed #495057;
    cursor: pointer;
}

.header-brand-img {
    height: 32px;
}

@media screen and (min-width: 992px) {
    .header {
        padding: 0;
    }

    .nav-tabs .nav-link {
        width: auto;
        border-bottom: 1px solid transparent;
        font-size: 13px;
        white-space: nowrap;
    }

    .mobile-menu {
        position: static;
        display: flex;
        padding: 0;
        width: auto;
        height: auto;
        box-shadow: none;
        overflow: initial;
    }

    .mobile-menu--active {
        transform: none;
        box-shadow: none;
    }

    .nav-version {
        padding: 0;
    }

    .nav-icon {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .nav-tabs .nav-link {
        font-size: 14px;
    }

    .nav-version {
        font-size: 0.85rem;
    }

    .nav-icon {
        display: block;
    }
}

.dns-status {
    padding: 0.35em 0.5em;
    line-height: 10px;
}
