:root {
    --product-primary-0: #f7fbf8;
    --product-primary-10: #d9ecde;
    --product-primary-20: #bedfc6;
    --product-primary-30: #a2d0ad;
    --product-primary-40: #84c193;
    --product-primary-50: #67b279;
    --product-primary-60: #5b9f6b;
    --product-primary-70: #4e8c5d;
    --product-primary-80: #42794f;
    --product-primary-90: #366642;
    --product-primary-100: #22482c;
    --product-secondary-0: #f5edf5;
    --product-secondary-10: #dec8e1;
    --product-secondary-20: #ccaad1;
    --product-secondary-30: #c096c7;
    --product-secondary-40: #b586be;
    --product-secondary-50: #a870b2;
    --product-secondary-60: #9f61aa;
    --product-secondary-70: #92549c;
    --product-secondary-80: #804886;
    --product-secondary-90: #6d3e72;
    --product-secondary-100: #502d53;
    --product-tertiary-0: #defdf2;
    --product-tertiary-10: #ecedf6;
    --product-tertiary-20: #d0d4ea;
    --product-tertiary-30: #b6bbdd;
    --product-tertiary-40: #9ba2d1;
    --product-tertiary-50: #7884cb;
    --product-tertiary-60: #6b76bd;
    --product-tertiary-70: #5c67ae;
    --product-tertiary-80: #525b97;
    --product-tertiary-90: #424979;
    --product-tertiary-100: #303659;
    --gray-0: #ffffff;
    --gray-10: #f6f6f6;
    --gray-20: #e4e4e4;
    --gray-30: #d2d2d2;
    --gray-40: #c0c0c0;
    --gray-50: #a4a4a4;
    --gray-60: #7f7f7f;
    --gray-70: #5b5b5b;
    --gray-80: #3d3d3d;
    --gray-90: #1f1f1f;
    --gray-100: #0a0a0a;
    --orange-0: #fdf9f2;
    --orange-10: #f9ecd8;
    --orange-20: #eecb92;
    --orange-30: #e5b460;
    --orange-40: #de9e33;
    --orange-50: #d58500;
    --orange-60: #c77901;
    --orange-70: #b76c01;
    --orange-80: #a85f01;
    --orange-90: #985201;
    --orange-100: #503200;
    --red-0: #fcece6;
    --red-10: #f6c2b1;
    --red-20: #f2a288;
    --red-30: #ef9071;
    --red-40: #ec7b55;
    --red-50: #e9653a;
    --red-60: #e75727;
    --red-70: #dc4918;
    --red-80: #bc3f15;
    --red-90: #a13612;
    --red-100: #77280d;
}
