.providersGrid {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
}

.providerRow {
    display: flex;
    align-items: center;
    width: calc(100% + 32px);
    margin: 0 -16px;
    border-radius: 8px;
    transition: var(--t2) background-color;

    &:hover,
    &:focus-within {
        background-color: var(--page-background-additional);
    }
}

.checkboxFull {
    width: 100%;
    padding: 8px 16px;
}
