.accordion {
    color: #495057;
}

.accordion__label {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

.accordion__label:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 17px;
    height: 10px;
    background-image: url("./svg/chevron-down.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.accordion__label--open:after {
    transform: rotate(180deg);
}

.accordion__content {
    padding-top: 5px;
}
