.card-header {
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 1.5rem;
}

.card-subtitle {
    margin: 4px 0;
    line-height: 1.4;
}

.card-table-overflow {
    overflow-y: auto;
    max-height: 280px;
}

.card-actions {
    margin-top: 20px;
}

.card-actions-top {
    margin-bottom: 20px;
}

.card-graph {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body--status {
    padding: 2.5rem 1.5rem;
    text-align: center;
}

.card-title-stats {
    font-size: 13px;
    color: #9aa0ac;
}

.card-body-stats {
    position: relative;
    flex: 1 1 auto;
    height: calc(100% - 3rem);
    margin: 0;
    padding: 1rem 1.5rem;
}

.card-value-stats {
    display: block;
    font-size: 2.1rem;
    line-height: 2.7rem;
    height: 2.7rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card-value-percent {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 0.9rem;
    line-height: 1;
    height: auto;
}

.card-value-percent:after {
    content: "%";
}

.card--full {
    height: calc(100% - 1.5rem);
}

.card-wrap {
    height: 100%;
}

@media screen and (min-width: 1280px) {
    .card-title-stats {
        font-size: 14px;
    }
}
