.icons {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.icon--small {
    width: 1.5rem;
    height: 1.5rem;
}

.icon--smallest {
    width: 1.2rem;
    height: 1.2rem;
}

.icon--gray {
    color: var(--gray-a5);
}

.icon--disabled {
    color: var(--gray-d8);
}

.icon--active {
    color: #66b574;
}
