.line__tooltip {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 4px 8px;
    border: 1px solid var(--card-border-color);
    border-radius: 8px;
    color: var(--mcolor);
    background-color: var(--card-bgcolor);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.line__tooltip-value {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
}

.line__tooltip-label {
    font-size: 12px;
    line-height: 1.2;
}
