.page-header {
    flex-direction: column;
    align-items: flex-start;
}

.page-header--logs {
    flex-direction: row;
    align-items: flex-end;
    margin: 0.5rem 0 2.8rem;
}

.page-header--logs .page-title {
    display: inline-flex;
    align-items: center;
}

@media (max-width: 991px) {
    .page-header--logs {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0 0 1.1rem;
    }

    .page-header--logs .page-title {
        margin-bottom: 1.1rem;
        font-size: 1.8rem;
    }
}

.page-subtitle {
    margin-left: 0;
    font-size: 0.9rem;
}

.page-title--large {
    font-size: 36px;
    line-height: 46px;
}
