.page-header {
    flex-direction: column;
    align-items: flex-start;
}

.page-subtitle {
    margin-left: 0;
    font-size: 0.9rem;
}

.page-title {
    line-height: 2.2rem;
}

.page-title__actions {
    display: block;
}

@media screen and (min-width: 768px) {
    .page-title__actions {
        display: inline-block;
        vertical-align: baseline;
        margin-left: 20px;
    }
}
