.popover-wrap {
    position: relative;
    top: 1px;
    display: inline-block;
    vertical-align: middle;
    align-self: flex-start;
}

.popover__trigger {
    position: relative;
    top: 3px;
    margin: 0 8px;
    cursor: pointer;
}

.popover__trigger:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -3px;
    width: 26px;
    height: 24px;
}

.popover__trigger--address {
    top: 0;
    margin: 0;
    line-height: 1.2;
}

.popover__trigger--address:after {
    display: none;
}

.popover__body {
    content: "";
    display: flex;
    position: absolute;
    bottom: calc(100% + 3px);
    left: 50%;
    min-width: 275px;
    padding: 10px 15px;
    font-size: 0.8rem;
    white-space: normal;
    color: #fff;
    background-color: #585965;
    border-radius: 3px;
    transition: opacity 0.2s ease-in-out, visibility  0.2s ease-in-out;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
}

.popover__body--filter {
    min-width: 100%;
}

.popover__body:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: calc(50% - 6px);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #585965;
}

.popover__body--address {
    top: calc(100% + 10px);
    right: 0;
    left: initial;
    bottom: initial;
    z-index: 1;
    min-width: 100px;
    padding: 12px 18px;
    font-weight: 700;
    text-align: left;
    white-space: nowrap;
    transform: none;
    cursor: default;
}

.popover__body--address:after {
    top: -11px;
    left: initial;
    right: 40px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #585965;
}

.popover__body--address:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    height: 10px;
}

.popover__trigger:hover + .popover__body,
.popover__body:hover {
    visibility: visible;
    opacity: 1;
}

.popover__icon {
    width: 20px;
    height: 20px;
    stroke: #9aa0ac;
}

.popover__icon--green {
    stroke: #66b574;
}

.popover__list--bold {
    font-weight: 700;
}

.popover__list-title {
    margin-bottom: 3px;
}

.popover__list-item {
    margin-bottom: 2px;
}

.popover__list-item--nowrap {
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.popover__list-item:last-child {
    margin-bottom: 0;
}

.popover__link {
    color: #66b586;
}

.popover__link:hover,
.popover__link:focus {
    color: #66b586;
}
