.ReactTable .rt-th,
.ReactTable .rt-td {
    padding: 10px 15px;
    overflow: visible;
}

.ReactTable .rt-tbody {
    overflow: visible;
}

.rt-tr-group .red {
    background-color: #fff4f2;
}

.rt-tr-group .green {
    background-color: #f1faf3;
}
