.cardFooter {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px;
    border-top: 1px solid var(--default-item-divider);

    @media (min-width: 1024px) {
        padding: 8px 16px;
        flex-direction: row;
        border: 0;
    }
}
