.trigger {
    cursor: pointer;
    color: var(--default-gray-icons);
}

.menu {
    padding: 16px;
    background-color: var(--fills-backgrounds-page-background-additional);

    @media (min-width: 768px) {
        max-width: 280px;
    }

    &_large {
        @media (min-width: 768px) {
            max-width: 340px;
        }
    }
}
