.configDialog {
    :global(.rc-dialog-wrap) {
        padding: 0;
    }
}

.body {
    max-height: 600px;
    overflow-y: auto;
    border: none;
    padding: 0 16px;

    @media (max-width: 1023px) {
        max-height: 70vh;
    }
}

.footer {
    display: flex;
    gap: 8px;
    padding: 16px;
}

.saveButton {
    width: auto;
    max-width: none;
    min-width: 200px;
}

.description {
    padding: 8px 16px;
    color: var(--default-description-text);
}
