.loader {
    width: 100%;
    min-height: 1px;
}

.loading {
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 24px;
    height: 24px;
    color: var(--default-product-icon);
}
