.guide {
    max-width: 768px;
    margin: 0 auto;
}

.guide__title {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 700;
}

.guide__desc {
    margin-bottom: 20px;
    font-size: 15px;
}

.guide__list {
    margin-top: 16px;
    padding-left: 0;
}

@media screen and (min-width: 768px) {
    .guide__list {
        padding-left: 24px;
    }
}

.guide__address {
    display: block;
    margin-bottom: 7px;
    font-size: 13px;
    font-weight: 700;
}

@media screen and (min-width: 768px) {
    .guide__address {
        display: list-item;
        font-size: 15px;
    }
}
