.header {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 0 16px 16px;
}

.menuButton {
    position: relative;
    top: 4px;
}

.title {
    padding: 0;
}

.unavailable {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px;
}
